html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
  background-color: #212529;
}
.navbar-nav .nav-link {
    color: #003A8C; /* un azul oscuro a tu gusto */
}
    /* Opcional: cambia al pasar el ratón */
    .navbar-nav .nav-link:hover {
        color: #0056b3; /* un azul más claro en hover */
    }